<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">The most advanced prediction models in history!</h2>
                <hr class="light">
                <p class="text-faded">
                    Picks+ is the brainchild of
                    <a href="https://danielzev.com" target="_blank">Daniel Marashlian</a>,
                    an American computer programmer and Internet entrepreneur who was the co-founder and CTO of popular companies such as
                    <a href="https://portfolium.com" target="_blank">Portfolium</a>
                    and
                    <a href="https://www.crunchbase.com/organization/plixi" target="_blank">Plixi (a.k.a. TweetPhoto)</a>.
                </p>
            </div>
        </div>
    </div>
</section>
