<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">We're building the most advanced prediction models in history!</h2>
                <hr class="light">
                <p class="text-faded">Picks+ is the brainchild of Daniel Marashlian, an American computer programmer and Internet entrepreneur who was the co-founder and CTO of popular companies such as Portfolium and TweetPhoto.</p>
            </div>
        </div>
    </div>
</section>
